@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
}

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.logo {
    background-color: rgba(0, 0, 0, 0.45);
    height: 15vh;
    width: 37.5vw;
    font-family: norseBold;
    font-weight: bold;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

img {
    height: 90%;
    width: auto;
}

.visual {
    background-image: url(images/bg-image-halle-west.jpeg);
    background-size: 36.5vw 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 36.5vw;
    display: flex;
    justify-content: center;
    flex: .35;
}

.text {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.info {
    font-weight: 400;
    font-size: 22.5px;
    height: 25vh;
    padding-left: 2.5vw;
    padding-right: 12.5vw;
    padding-top: 10.5vh;
}

.form {
    background-color: white;
    height: 30vh;
    margin: 0;
    padding-left: 2.5vw;
    padding-right: 10.5vw;
    padding-top: 2vh;
    box-shadow:  5px 5px 10px #888888;
}

.form-grid {
    display: flex;
    flex-wrap: wrap;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 19vw;
    margin-right: 5vw;
    margin-top: 2vh; 
    opacity: .75;
    font-size: 13px;
}

input {
    border-radius: 5px;
    border-color: #E5E7EB;
    height: 3vh;
    opacity: 1;
}

.submit {
    margin-left: 2.5vw;
    margin-top: 3vh;
} 

button {
    color: white;
    font-size: 2.25vh;
    background-color: #596D48;
    height: 6vh;
    width: 15vw;
    border-radius: 1vh;
}

.login {
    margin-top: 3vh;
}

.login > a{
    color: #596D48;
    font-weight: bolder;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgb(247, 249, 250);
}

.credits {
    color: white;
    margin-top: -20px;
    margin-left: 11vw;
    font-size: 1.5vh;
}

a:link {
    text-decoration: none;
    color: white;
}